@font-face {
    font-family: RobotoMedium;
    src: url(/assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

.topnav a {
    display: block;
    text-align: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: RobotoRegular;
}

iframe {
    width: 100%;
    height: 516px;
    border: none;
    margin-top: 20px;
}

#title {
    font-weight: bold;
}

#button button {
    color: white;
    background-color: #2EA44F;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    min-width: 100px;
}

.flex__item--row {
    display: flex;
    flex-direction: row;
}

#myTopnav {
    width: 30%;
    padding-left: 25px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
}

#content {
    margin: 0px 50px;
    padding-left: 30px;
    padding-top: 40px;
    font-family: RobotoMedium;
}

#button {
    margin: 0px 50px 15px 50px;
    justify-content: space-between;
}

#lesson {
    padding: 50px;
    border: 2px solid black;
}

#script {
    background-color: #C4C4C4;
    padding: 5px 30px;
    margin: 0px 80px 30px 80px;
}

#lesson-title {
    background-color: #C4C4C4;
    justify-content: space-between;
    padding: 5px 10px;
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav .icon {
    display: none;
}

.popup-div {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Popup Content */

.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 50%;
    padding: 0;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: black;
    float: right;
    font-size: x-large;
    font-weight: bold;
    margin: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-header {
    background-color: #E9EAF2;
    border-bottom: 1px solid #303342;
    border-top: 1px solid #303342;
    color: black;
    height: 40px;
}

.popup-header--title {
    height: 100%;
    vertical-align: middle;
    padding-left: 30px;
    margin-top: 10px;
}

.popup-body {
    padding: 5px 20px;
}

.input-title,
.input-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 5px;
    min-height: 30px;
}

.input-title {
    border: 1px solid #303342;
    padding-left: 5px;
    margin-top: 10px;
}

.popup-footer {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    justify-content: right;
    padding: 5px 30px;
}

.popup-footer .cancel__btn {
    border: none !important;
    color: darkgray;
    margin-right: 10px;
    margin-left: auto;
    text-align: right;
}

@media screen and (max-width: 600px) {
    #study--content {
        display: block;
    }
    #script {
        display: block;
        margin: auto;
        padding: auto;
        width: 90%;
    }
    iframe {
        width: 100%;
        height: fit-content;
    }
    #button {
        margin: 10px 0px;
    }
    #content {
        margin: 10px;
        padding: 5px;
    }
    #lesson {
        padding: 10px;
    }
    #lesson-name {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a {
        float: left;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    #myTopnav {
        width: 100%;
    }
    #study--content {
        display: flex;
        flex-direction: column;
    }
    #script {
        width: 90%;
        margin: 0px;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 992px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a {
        float: left;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    #myTopnav {
        width: 100%;
    }
    #study--content {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}