@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: MontserratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
}

#myTopnav {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    height: calc(100vh - 160px);
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    display: block;
    text-align: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: RobotoRegular;
}

.topnav .icon {
    display: none;
}

.payment-method {
    border: 1px solid grey;
    padding: 10px;
}

#txtpayment {
    padding: 10px;
    font-family: RobotoRegular;
    font-size: 18px;
    text-align: center;
}

#btnnext {
    font-family: MontserratExtraBold;
    padding: 10px 25px;
}

input {
    font-family: RobotoRegular;
    font-size: 18px;
}

.card-info label {
    width: 150px;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a {
        float: right;
        display: block;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    #myTopnav {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}