body {
    padding: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forum__intro {
    text-align: center;
}

.search-box {
    position: relative;
    background: #ddd;
    width: 230px;
    display: block;
    margin: auto;
}

.search-input {
    height: 20px;
    margin: 0;
    width: 100%;
    border: 2px solid;
    text-align: left;
    padding-left: 10px;
}

.search-icon {
    position: absolute;
    top: 5px;
    bottom: 0px;
    right: 0px;
    /* width: 24px;
    height: 24px; */
}

.navigation {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.navbar {
    margin-right: 50px;
}

button {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #303342;
    color: #303342;
    width: 100px;
    padding: 10px 0px;
    margin: 5px;
    font-weight: bolder;
}

.nav__btn:focus {
    background-color: #303342;
    color: #fff;
}

.bi-plus {
    vertical-align: middle;
}

.newTopic__btn {
    border: 2px solid #2EA44F;
    border-radius: 5px;
    color: #2EA44F;
}


/* The container <div> - needed to position the dropdown content */

.drop-btn {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    z-index: 1;
    margin-left: 5px;
    text-align: center;
    font-size: small;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.topic {
    display: flex;
    flex-direction: column;
}

.topic-title {
    color: #303342;
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.topic__name-smallsize {
    font-size: 13px;
    flex: 6;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 10px;
}

.topic-child {
    display: flex;
    width: 60%;
    border: 2px solid #303342;
    color: #303342;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
}

.topic__name {
    font-size: 16px;
}

.topic__col {
    display: flex;
    flex-direction: column;
    flex: 6;
    margin-left: 20px;
}

.topic__tags {
    border: 1px solid #2C14BC;
    font-size: 13px;
    width: fit-content;
    padding: 0px 5px;
    color: #2C14BC;
    background-color: #E9EAF2;
}

.topic__replies,
.topic__views,
.topic__times {
    flex: 1;
    font-size: 13px;
    text-align: center;
    width: fit-content;
    padding: 10px;
}