body {
    padding: 0px;
    border: 0px;
    font-family: Roboto-Regular;
}

@import url(/main-style.css);
@font-face {
    font-family: Roboto-Regular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forum__intro {
    text-align: center;
}

.topic__search-box {
    position: relative;
    background: #ddd;
    max-width: fit-content;
    display: block;
    margin: auto;
}

.topic__search-input {
    height: fit-content;
    padding: 3px;
    border: 2px solid;
    text-align: left;
    padding-left: 10px;
    padding-right: 25px;
}

.topic__search-icon {
    position: absolute;
    top: 3px;
    bottom: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
}

.navigation {
    display: flex;
    margin: 20px;
    justify-content: center;
    vertical-align: middle;
}

.navbar {
    margin-right: 50px;
}

button {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #303342;
    color: #303342;
    width: 100px;
    padding: 10px 0px;
    margin: 5px;
    font-weight: bolder;
}

.nav__btn:focus {
    background-color: #303342;
    color: #fff;
}

.bi-chevron-down {
    margin-left: 10px;
}

.bi {
    vertical-align: middle;
    font-size: 16px;
    /* margin-left: 3px; */
    font-weight: 2px;
}

.createTopic__btn {
    border: 2px solid #2EA44F;
    border-radius: 5px;
    color: #2EA44F;
    padding-left: 5px;
}


/* The Modal (background) */

.popup-div {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Popup Content */

.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    /* border: 1px solid black; */
    width: 50%;
    min-height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: black;
    float: right;
    font-size: x-large;
    font-weight: bold;
    margin: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-header {
    background-color: #E9EAF2;
    border: 2px solid #303342;
    color: black;
    height: 40px;
}

.popup-header--title {
    height: 100%;
    vertical-align: middle;
    padding-left: 30px;
    margin-top: 10px;
}

.popup-body {
    padding: 5px 20px;
}

.input-title,
.input-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2px solid #303342;
    margin-bottom: 5px;
    min-height: 30px;
}

.popup-footer {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    justify-content: right;
    padding: 5px 40px;
}


/* Dropdown */


/* The container <div> - needed to position the dropdown content */

.drop-btn {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E9EAF2;
    width: 100px;
    z-index: 1;
    margin-left: 0px;
    text-align: center;
    font-size: small;
    margin-top: 0px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none !important;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #303342;
    color: #fff;
    font-weight: bold;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.list-topic {
    display: flex;
    flex-direction: column;
}

.topic-title {
    color: #303342;
    display: flex;
    width: 60%;
    margin: auto;
    font-weight: bold;
}

a {
    text-decoration: none !important;
    width: 60%;
    margin: auto;
}

.topic__name-smallsize {
    font-size: 13px;
    flex: 6;
    vertical-align: middle;
    margin-left: 25px;
    margin-top: 10px;
}

.topic-child {
    display: flex;
    border: 2px solid #303342;
    color: #303342;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
}

.topic__name {
    font-size: 16px;
}

.topic__col {
    display: flex;
    flex-direction: column;
    flex: 6;
    margin-left: 20px;
}

.topic__tags {
    border: 1px solid #2C14BC;
    font-size: 13px;
    width: fit-content;
    padding: 0px 5px;
    color: #2C14BC;
    background-color: #E9EAF2;
}

.topic__replies,
.topic__views,
.topic__times {
    flex: 1;
    font-size: 13px;
    text-align: center;
    width: fit-content;
    padding: 10px;
}