<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coudé Forum</title>
    <link rel="stylesheet" href="./mainforum.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <style>
        @import url(../header/header.css);
        @import url(../footer/footer.css);
        @import url(./text-editor.css);
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../header/header-res.js"></script>
    <script>
        var app = angular.module("angularApp", [])
        app.controller("TopicController", function($scope, $http) {
            $http({
                method: "GET",
                url: "/assets/data/forum/forum.json"
            }).then(function mySuccess(respone) {
                $scope.forum = respone.data
            }, function myError(respone) {
                $scope.dataError = respone.statusText;
            });
            $scope.selectTopic = function(val) {
                $scope.topicDetails = val;
            }
            $scope.orderByMe = function(topic) {
                    $scope.myOrderBy = topic;
                }
                // function create pagination
                // $scope.currentPage = 0;
                // $scope.pageSize = 15;
                // $scope.numberOfPages = function() {
                //     return Math.ceil($scope.forum.length / $scope.pageSize);
                // }

            // //We already have a limitTo filter built-in to angular,
            // //let's make a startFrom filter
            // app.filter('startFrom', function() {
            //     return function(input, start) {
            //         start = +start; //parse to int
            //         return input.slice(start);
            //     }
            // })
        })

        // function calculateDiff(topic) {
        //     var today = new Date();
        //     console.log(today)
        // }
    </script>
</head>
<header w3-include-html='../header/header.html'></header>

<body ng-app="angularApp" ng-controller="TopicController">

    <div class="content">
        <div class="forum__intro">
            <div class="coude__intro">
                <h2>Coudé Forum</h2>
                <p>Welcome to the friendliest place for anyone learning code!</p>
            </div>
            <div class="topic__search-box">
                <input type="text" class="topic__search-input" id="" placeholder="Search the topic here">
                <i class="topic__search-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></i>
            </div>
        </div>
        <div class="navigation">
            <div class="navbar">
                <button type="button" class="nav__btn" ng-click="orderByMe('views')">Popular</button>
                <button type="button" class="nav__btn" ng-click="orderByMe('date')">Lastest</button>
                <button type="button" class="nav__btn">Marked</button>
                <button type="button" class="nav__btn">My questions</button>
            </div>
            <div class=" navbutton flex--row">
                <div class="dropdown">
                    <select ng-model="selectedTag">
                        <option value="">TAGS</option>
                        <option value="c#">C#</option>                       
                        <option value="c++">C++</option>
                        <option value="python">Python</option>
                        <option value="java">Java</option>
                        <option value="sql">SQL</option>
                        <option value="kotlin">Kotlin</option>
                        <option value="html">HTML</option>
                        <option value="css">CSS</option>
                        <option value="javascript">Javascript</option>
                    </select>
                </div>
                <button type="button" class="createTopic__btn" id="myCreateTopicBtn">New Topic 
                        <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>
        <!-- Popup -->
        <div id="myPopup" class="popup-div">
            <!-- Popup content -->
            <div class="popup-content">
                <div class="popup-header">
                    <i class="bi bi-x-circle close"></i>
                    <div class="popup-header--title">Create a new topic</div>
                </div>
                <div class="popup-body">
                    <input type="text" name="" id="title" placeholder="Type your title here..." class="input-title">
                    <div class="input-content" w3-include-html='./text-editor.html'>
                    </div>
                </div>
                <div class="popup-footer">
                    <button class="cancel__btn">Cancel</button>
                    <div class="create-topic">
                        <button type="button" class="createTopic__btn" id="myCreateTopicBtn">New Topic 
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="topic-title">
            <div class="topic__name-smallsize">Topic</div>
            <div class="topic__replies">Replies</div>
            <div class="topic__views">Views</div>
            <div class="topic__times">Time</div>
        </div>
        <div class="list-topic" ng-repeat="topic in forum | filter: {tag: selectedTag} | orderBy: myOrderBy">
            <a href="topic.html?topicId={{topic.id}}" target="_blank">
                <div class="topic-child">
                    <div class="topic__col">
                        <div class="topic__name">{{topic.title}}</div>
                        <div class="topic__tags">{{topic.tag}}</div>
                    </div>
                    <div class="topic__replies">{{topic.replies}}</div>
                    <div class="topic__views">{{topic.views}}</div>
                    <div class="topic__times">{{topic.date}}</div>
                    <!-- <div class="topic__times">{{calculateDiff(topic)}}</div> -->
                </div>
            </a>
        </div>

    </div>
    <!-- Hiển thị tính năng Panigation -->
    <!-- <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button> {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button> -->
    <script>
        // Get the popup
        var popup = document.getElementById("myPopup");

        // Get the button that opens the popup
        var btn = document.getElementById("myCreateTopicBtn");

        // Get the <span> element that closes the popup
        var span = document.getElementsByClassName("close")[0];
        var cancel = document.getElementsByClassName("cancel__btn")[0];

        // When the user clicks the button, open the popup
        btn.onclick = function() {
            popup.style.display = "block";
        }

        // When the user clicks on <span> (x), close the popup
        span.onclick = function() {
            popup.style.display = "none";
        }
        cancel.onclick = function() {
            popup.style.display = "none";
        }

        // When the user clicks anywhere outside of the popup, close it
        window.onclick = function(event) {
            if (event.target == popup) {
                popup.style.display = "none";
            }
        }
    </script>
    <script>
        w3.includeHTML();
    </script>

</body>
<footer w3-include-html='../footer/footer-mini.html'></footer>

</html>