    body {
        padding: 0px;
        border: 0px;
        font-family: Roboto-Regular;
    }
    
    @import url(/main-style.css);
    @font-face {
        font-family: Roboto-Regular;
        src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
    }
    
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .forum__intro {
        text-align: center;
    }
    
    .topic__search-box {
        position: relative;
        background: #ddd;
        max-width: fit-content;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    
    .topic__search-input {
        height: fit-content;
        padding: 3px;
        border: 2px solid;
        text-align: left;
        padding-left: 10px;
        padding-right: 25px;
    }
    
    .topic__search-icon {
        position: absolute;
        top: 3px;
        bottom: 0px;
        right: 0px;
        width: 25px;
        height: 25px;
    }
    
    .navigation {
        display: flex;
        margin: 20px;
        justify-content: center;
        vertical-align: middle;
        align-items: flex-start
    }
    
    .navbar {
        margin-right: 50px;
    }
    
    button {
        display: inline-block;
        background-color: #fff;
        border: 2px solid #303342;
        color: #303342;
        width: 100px;
        padding: 10px 0px;
        margin: 5px;
        font-weight: bolder;
    }
    
    .nav__btn:focus {
        background-color: #303342;
        color: #fff;
    }
    
    .bi-chevron-down {
        margin-left: 10px;
    }
    
    .bi {
        vertical-align: middle;
        font-size: 16px;
        /* margin-left: 3px; */
        font-weight: 2px;
    }
    
    .createTopic__btn {
        border: 2px solid #2EA44F;
        border-radius: 5px;
        color: #2EA44F;
        padding-left: 5px;
    }
    /* The Pop-up (background) */
    
    .popup-div {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }
    /* Popup Content */
    
    .popup-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        width: 50%;
        padding: 0;
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }
    /* Add Animation */
    
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    /* The Close Button */
    
    .close {
        color: black;
        float: right;
        font-size: x-large;
        font-weight: bold;
        margin: 5px;
    }
    
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    .popup-header {
        background-color: #E9EAF2;
        border-bottom: 1px solid #303342;
        border-top: 1px solid #303342;
        color: black;
        height: 40px;
    }
    
    .popup-header--title {
        height: 100%;
        vertical-align: middle;
        padding-left: 30px;
        margin-top: 10px;
    }
    
    .popup-body {
        padding: 5px 20px;
    }
    
    .input-title,
    .input-content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 5px;
        min-height: 30px;
    }
    
    .input-title {
        border: 1px solid #303342;
        padding-left: 5px;
        margin-top: 10px;
    }
    
    .popup-footer {
        display: flex;
        margin-right: 0;
        margin-left: auto;
        justify-content: right;
        padding: 5px 30px;
    }
    
    .popup-footer .cancel__btn {
        border: none !important;
        color: darkgray;
        margin-right: 10px;
        margin-left: auto;
        text-align: right;
    }
    /* Dropdown choose tag */
    
    .dropdown select {
        color: #303342;
        border: 2px solid #303342;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        width: 100px;
        padding: 10px 0px;
        margin: 5px;
        text-align: center;
        font-weight: bolder;
    }
    
    .dropdown::before {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .dropdown select option {
        text-align: center;
        background-color: #E9EAF2;
        box-shadow: none !important;
    }
    /* ---End dropdown--- */
    
    .list-topic {
        display: flex;
        flex-direction: column;
    }
    
    .topic-title {
        color: #303342;
        display: flex;
        width: 60%;
        margin: auto;
        font-weight: bold;
        padding-right: 10px;
    }
    
    a {
        text-decoration: none !important;
        width: 60%;
        margin: auto;
    }
    
    .list-topic .topic-child:hover {
        color: #2C14BC;
        border: 2px solid #2C14BC;
        font-weight: bolder;
        background-color: #E9EAF2;
    }
    
    .topic__name-smallsize {
        font-size: 13px;
        flex: 6;
        vertical-align: middle;
        margin-left: 25px;
        margin-top: 10px;
    }
    
    .topic-child {
        display: flex;
        border: 2px solid #303342;
        color: #303342;
        min-width: 100%;
        padding: 5px;
        margin: auto;
        margin-bottom: 10px;
    }
    
    .topic__name {
        font-size: 16px;
        /* text-overflow: ellipsis; */
    }
    
    .topic__col {
        display: flex;
        flex-direction: column;
        flex: 6;
        max-width: 60%;
        margin-left: 20px;
    }
    
    .topic__tags {
        border: 1px solid #2C14BC;
        font-size: 13px;
        width: fit-content;
        padding: 0px 5px;
        color: #2C14BC;
        background-color: #E9EAF2;
    }
    
    .topic__replies,
    .topic__views,
    .topic__times {
        flex: 1;
        font-size: 13px;
        text-align: center;
        width: fit-content;
        padding: 10px;
    }
    /* Extra small devices (phones, 600px and down) */
    
    @media only screen and (max-width: 600px) {
        a {
            width: 95%;
        }
        .topic-title {
            width: 95%;
            padding-right: 30px;
        }
        body {
            font-size: smaller;
        }
        .popup-content {
            width: 100%;
        }
        .topic__replies {
            display: none;
        }
        .navigation {
            display: flex;
            flex-direction: column;
        }
        .navbar {
            align-items: flex-end;
            margin-right: 0px;
        }
        .navbutton {
            align-items: flex-start;
        }
        .nav__btn {
            margin-right: 0px;
        }
        .navigation {
            align-items: center;
        }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    
    @media only screen and (max-width: 768px) {
        a,
        .topic-title {
            width: 95%;
        }
        .popup-content {
            width: 90%;
        }
        .navigation {
            display: flex;
            flex-direction: column;
        }
        .navbar {
            align-items: flex-end;
            margin-right: 0px;
        }
        .navbutton {
            align-items: flex-start;
        }
        .navigation {
            align-items: center;
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    
    @media only screen and (max-width: 922px) {
        a,
        .topic-title {
            width: 90%;
        }
        .popup-content {
            width: 80%;
        }
        /* từ bản tablet trở đi cần css lại thanh navigation */
    }
    /* Large devices (laptops/desktops, 992px and up) */
    
    @media only screen and (max-width: 1200px) {
        a,
        .topic-title {
            width: 80%;
        }
        .popup-content {
            width: 60%;
        }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    
    @media only screen and (min-width: 1200px) {
        a,
        .topic-title {
            width: 70%;
        }
    }