@font-face {
    font-family: RobotoBold;
    src: url(/assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: MontseratBold;
    src: url(/assets/fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: MontseratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}
#title-text{
    text-align: center;
}
h4 {
    font-family: RobotoBold;
}

h1 {
    font-family: MontseratExtraBold;
}

i {
    font-size: 64px;
    color: rgb(18, 23, 46);
}

hr {
    width: 35%;
    border: 2px solid black;
}

br {
    margin: 0%;
}

button{
    background: transparent;
    border: none;
}

.text-green {
    color: #199B80;
}

.flex-item {
    margin: 20px;
    padding: 5px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    width: 20%;
    text-align: center;
}

#community {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#community div p {
    font-family: RobotoRegular;
}
#help-text{
    padding: 100px;
}
#help-text p {
    font-family: RobotoRegular;
    color: black;
}
.slogan--container{
    display: block;
    position: relative;
} 
#line-left{
    position: absolute;
    left: 100px;
}
#line-right{
    position: absolute;
    right: 100px;
    top: 130px;
}
#text-left{
    position: absolute;
    left: 450px;
    top: 10px;
}
#text-right{
    position: absolute;
    right: 450px;
    top: 60px;
}

@media screen and (max-width: 600px) {
    #community {
        display: flex;
        flex-direction: column;
    }
    .flex-item {
        width: 70%;
        margin-left: 80px;
    }
    #help-text{
        padding: 20px;
    }
    #slogan--container{
        display: flex;
        flex-direction: column;
    }
    br{
        display: none;
    }
    hr{
        width: 80%;
    }
    #line-left, #line-right, #text-left, #text-right{
        display: block;
        position: static;
        text-align: center;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 600px) {
    #line-left{
        left: 100px;
    }
    #line-right{
        right: 100px;
        top: 130px;
    }
    #text-left{
        left: 150px;
        top: 10px;
    }
    #text-right{
        right: 150px;
        top: 60px;
    }
} 

@media screen and (min-width: 768px) {
    #line-left{
        left: 100px;
    }
    #line-right{
        right: 100px;
        top: 130px;
    }
    #text-left{
        left: 250px;
        top: 10px;
    }
    #text-right{
        right: 250px;
        top: 60px;
    }
} 
@media only screen and (min-width: 992px) {
    #line-left{
        left: 100px;
    }
    #line-right{
        right: 100px;
        top: 130px;
    }
    #text-left{
        left: 350px;
        top: 10px;
    }
    #text-right{
        right: 350px;
        top: 60px;
    }
}  
@media only screen and (min-width: 1200px) {
    #line-left{
        left: 100px;
    }
    #line-right{
        right: 100px;
        top: 130px;
    }
    #text-left{
        left: 450px;
        top: 10px;
    }
    #text-right{
        right: 450px;
        top: 60px;
    }
}
  