@font-face {
    font-family: RobotoBold;
    src: url(/assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: MontseratBold;
    src: url(/assets/fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: MontseratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

#title-text {
    text-align: center;
}

h4 {
    font-family: RobotoBold;
}

h1 {
    font-family: MontseratExtraBold;
}

.flex-item i {
    font-size: 64px;
    color: rgb(18, 23, 46);
}

hr {
    width: 35%;
    border: 2px solid black;
}

br {
    margin: 0%;
}

button {
    background: transparent;
    border: none;
}

.text-green {
    color: #199B80;
}

.flex-item {
    margin: 20px;
    padding: 5px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    width: 20%;
    text-align: center;
}

#community {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#community div p {
    font-family: RobotoRegular;
}

#help-text {
    padding: 100px;
}

#help-text p {
    font-family: RobotoRegular;
    color: black;
}

.slogan--container {
    display: block;
    position: relative;
}

#line-left {
    position: absolute;
    left: 100px;
}

#line-right {
    position: absolute;
    right: 100px;
    top: 130px;
}

#text-left {
    position: absolute;
    left: 450px;
    top: 10px;
}

#text-right {
    position: absolute;
    right: 450px;
    top: 60px;
}


/*chat-popup*/

* {
    box-sizing: border-box;
}

#myForm h3 {
    color: #199B80;
}

.open-button i {
    font-size: 32px;
}


/* Button used to open the chat form - fixed at the bottom of the page */

.container .open-button {
    background-color: #555;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 80px;
    float: right;
    border-radius: 5px;
}


/* The popup chat - hidden by default */

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 1px solid gray;
    z-index: 9;
    border-radius: 10px;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}


/* Full-width textarea */

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/send button */

.form-container .btn {
    background-color: #2EA44F;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: transparent;
    color: #555;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    #community {
        display: flex;
        flex-direction: column;
    }
    .flex-item {
        width: 70%;
        margin-left: 80px;
    }
    #help-text {
        padding: 20px;
    }
    #slogan--container {
        display: flex;
        flex-direction: column;
    }
    br {
        display: none;
    }
    hr {
        width: 80%;
    }
    #line-left,
    #line-right,
    #text-left,
    #text-right {
        display: block;
        position: static;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 600px) {
    #line-left {
        left: 100px;
    }
    #line-right {
        right: 100px;
        top: 130px;
    }
    #text-left {
        left: 150px;
        top: 10px;
    }
    #text-right {
        right: 150px;
        top: 60px;
    }
}

@media screen and (min-width: 768px) {
    #line-left {
        left: 100px;
    }
    #line-right {
        right: 100px;
        top: 130px;
    }
    #text-left {
        left: 250px;
        top: 10px;
    }
    #text-right {
        right: 250px;
        top: 60px;
    }
}

@media only screen and (min-width: 992px) {
    #line-left {
        left: 100px;
    }
    #line-right {
        right: 100px;
        top: 130px;
    }
    #text-left {
        left: 350px;
        top: 10px;
    }
    #text-right {
        right: 350px;
        top: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    #line-left {
        left: 100px;
    }
    #line-right {
        right: 100px;
        top: 130px;
    }
    #text-left {
        left: 450px;
        top: 10px;
    }
    #text-right {
        right: 450px;
        top: 60px;
    }
}