@font-face {
    font-family: RobotoLight;
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);       
} 
@font-face {
    font-family: RobotoBold;
    src: url(/assets/fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: MontseratBold;
    src: url(/assets/fonts/montserrat/Montserrat-Bold.ttf);
}
body{
    width: auto;
    margin: 0%;
    text-align: center;
    font-family: RobotoLight;
}
h2{
    color: #199B80;
    font-family: MontseratBold;
}
h3, h4{
    font-family: MontseratBold;
}
img{
    width: 100%;
}
i{
    margin-right: 5px;
    font-size: 35px;
}
p{
    margin: 10px;
}
#vision{
    font-family: RobotoBold;
}
#item-footer{
    text-align: right;
    margin: 5px;
    font-size: 10px;
    align-self: flex-end;
}
#line-top{
    background-color: black;
    width: 15%;
    height: 10px;
}
#sub-title{
    font-size: 13px;
}
#vision-item{
    text-align: left;
}
#vision-item h3{
    margin-left: 20px;
}
.container{
    margin: 15px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: center;
}
.flex-row__item{
    margin: 5px;
    width: 20%;
}
.item--border{
    border: 1px solid black;
}

@media screen and (max-width: 500px){
    .flex-row{
        flex-wrap: wrap;
    }
}
