@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}
*{
    margin: 0
}
header{
    position: fixed;
    top: 0px;
}
body{
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                    linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    color: white;
    font-family: Roboto;
    /* justify-content:space-between */
}
button{
    background-color: transparent;
    border: 2px solid #2EA44F;
    margin: auto 5px auto 35px;
    color: white;
}
body>div{
    padding-top: 40px;
    padding-left: 30px;
    /* height: 94vh; */
}
button:hover{
    background-color: #2EA44F;
}
.menu{
    width: 15%;
    min-width: 120px;
}
.menu__item{
    margin-bottom: 45px;
}
.menu div p:nth-child(n){
    margin: 10px auto;
}
.menu div p:first-child, .code select, .execution p{
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
}
.code, .execution{
    width: 44%;
    border-left: 1.5px solid white;
}
select{
    background-color: transparent;
    border: 0;
    color: white;
    user-select: none;
    width: 100px;
  
}
select *{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    /* border: 0.1 solid white; */
    font-size: 14px;
}
option:hover{
    opacity: 0.8;
}
select:hover{
    cursor: pointer;
}
