@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}
*{
    margin: 0;
}
body{
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
                    linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    color: white;
    font-family: Roboto;
}
body>div{
    padding-top: 40px;
    padding-left: 30px;
    /* height: 94vh; */
}
/* import từ header.css và điều chỉnh header của online editor vì khác với các page khác */
/* button trên header */
button{
    background-color: transparent;
    border: 2px solid var(--button-color) !important;
    margin: auto 5px auto 35px;
    color: white;
}
button:hover{
    background-color: var(--button-color); 
    opacity: 1;
}
/* container của thanh menu khung giao diện code editor */
.menu{
    width: 15%;
    min-width: 120px;
    height: calc(100vh - 55px);
}
.menu__item{
    margin-bottom: 30px;
}
.menu__item ul{
    list-style-type: none;
    padding-left: 0;
}
.menu__item li:not(:first-child){
    margin: 10px auto;

}
.menu__item>ul li:not(:first-child) a{
    font-size: 16px;
    font-weight: normal;
}
.menu a{
    color: white;
    text-decoration: none;
}
.menu__item a:first-child, .code select, .execution p{
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
}
.code, .execution{
    width: 44%;
    border-left: 1.5px solid white;
}
select{
    background-color: transparent;
    border: 0;
    color: white;
    user-select: none;
    width: 100px;
}
option{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    /* border: 0.1 solid white; */
    font-size: 14px;
}
option:hover{
    opacity: 0.8;
}
select:hover{
    cursor: pointer;
}
.icon{
    font-size: 20px;
    display: none;
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    .menu{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: fit-content;
        padding: 1%;
    }
    .menu__item{
        display: none;
    }
    body{
        flex-direction: column;
    }
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    /* float: right; */
    display: block;
    /* margin-right: 10px; */
  }
  .code, .execution{
      height: 50vh;
      width: 100%;
      border: 1.5px solid white;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
    .menu.responsive, .menu{
        transition: 0.5s;
    }
  .menu.responsive {
      position: relative;
      justify-content: space-evenly;
      background-color: grey;
      color: black;
      padding: 5%
    }
  .menu.responsive .icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .menu.responsive .menu__item {
    display: block;
    margin-bottom: 0;
  }
}

  