body{
    position: relative;
    top: 50px;
}
/* Thuộc tính của thanh header */
.header__container{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0px;
    height: 55px;
    width: 100%;
    z-index: 1;
    font-family: 'Gothic A1', sans-serif;
    align-items: center;

}
/* Logo */
.header__container img{
    width: 138px;
    margin: 0;
    margin-left: 35px;
}
.header__container a{
    color: white;
    text-decoration: none;
    margin: auto 15px;
    font-weight: bold;
    font-size: 14px;
}
.header__container a:hover{
    text-decoration: underline;
    color: white;
}
.search-box{
    width: 30%;
    min-width: 200px;
    height: 30px;
    /* left: 670px;
    top: 16px; */
    background: #E5E5E5;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.search-box input{
    width: 90%;
    background-color: transparent;
    height: 80%;
    border: none;
}
.search-box input, .search-box svg {
    vertical-align: -webkit-baseline-middle;
}

/* Thuộc tính của button */
.header__container button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
}
/* .header__button-container #signup, .header__button-container #login{
    height: 25px;
    border-radius: 5px;
} */
#signup{
    background-color: var(--button-color);
    color: white;
    width: 85px;
    margin-right: 15px;
}
#login{
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    width: 70px;
}
.header__button-container{
    margin-left: 50px;
}
/* #menu, .menu__dropdown{
    display: none;
} */
/* #menu>svg{
    width: 25px;
    height: 25px;
}
.menu__dropdown{
    float: left;
    position: absolute;
    top: 40px;
    z-index: 1;
    background-color: black;
    text-align: left;
    border-radius: 3px;
    width: 10px;
} */
/* .menu__dropdown a{
    line-height: 30px;
}
@media (max-width: 992px) { 
    .navBar__link-container{
        display: none;   
    }
    #menu{
        display: block; 
        position: relative;
    }
    #menu:hover .menu__dropdown{
        display: block;
    }
} */
