
body{
    margin: 0;
    position: relative;
    top: 50px
}
/* Thuộc tính của thanh header */
.header__container{
    /* background-color: var(--header); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    height: 55px;
    width: 100%;
    /* z-index: 1; */
    font-family: 'Gothic A1', sans-serif;
    display: flex;
    align-items: center;

}
/* Logo */
.header__container img{
    width: 138px;
    margin: 0;
    margin-left: 35px;
}
.header__container a{
    color: white;
    text-decoration: none;
    margin: auto 15px;
    font-weight: bold;
    font-size: 14px;
}
.header__container a:hover{
    text-decoration: underline;
}
/* .header__navigation{
    z-index: 2;
} */
.search-box{
    width: 400px;
    height: 30px;
    /* left: 670px;
    top: 16px; */
    background: #E5E5E5;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 100px;
}
.search-box input{
    width: 90%;
    background-color: transparent;
    height: 80%;
    border: none;
}
.search-box input, .search-box svg {
    vertical-align: -webkit-baseline-middle;
}

/* Thuộc tính của button */
button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    /* margin-right: 15px; */
}
.header__button-container #signup, .header__button-container #login{
    height: 25px;
    border-radius: 5px;
}
#signup{
    background-color: #2EA44F;
    color: white;
    width: 80px;
    margin-right: 15px;
}
#login{
    background-color: transparent;
    border: 0.5px solid white;
    color: white;
    width: 70px;
}
.header__button-container{
    margin-left: 50px;
}