@font-face {
    font-family: 'Roboto-Black';
    src: url(/assets/fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

html,
body {
    margin: 0;
    padding: 0px;
    font-family: 'Roboto-Light';
}

.intro {
    background-color: rgba(196, 196, 196, 0.5);
}

img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 5px;
}

.intro--left {
    text-align: left;
    margin-left: 10px;
    margin-top: 40px;
}

button {
    width: 400px;
    height: 60px;
    background-color: rgba(46, 164, 79, 1);
    border-radius: 5px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.btnenroll {
    color: white;
}

.txtbutton {
    font-size: 10px;
    color: white;
    margin-top: 5px;
}

.intro--right {
    height: 300px;
    display: flex;
    margin-top: 100px;
    display: inline-block;
}

.intro--header {
    font-family: 'Roboto-Black';
    font-weight: bold;
    font-size: 35px;
}

.stars {
    width: 300px;
    display: flex;
}

.txtrate {
    margin-left: 20px;
    padding-top: 18px;
}

input.star {
    display: none;
    text-align: center;
}

label.star {
    float: right;
    padding: 5px;
    font-size: 20px;
    color: rgb(250, 249, 249);
    transition: all .2s;
    margin-top: 8px;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: rgb(253, 69, 2);
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: rgb(248, 82, 10);
    text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
    color: rgb(246, 77, 5);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

a {
    font-size: 15px;
    color: black;
    padding: 30px;
}

.headertxt {
    font-size: 20px;
    font-family: 'Roboto-Black';
    font-weight: bold;
    margin-top: 30px;
}

.txtinfor {
    font-size: px;
}

.txtinforrg {
    font-size: 20px;
    font-family: 'Roboto-Black';
    color: black;
    font-weight: bold;
    margin-bottom: 35px;
    margin-top: 30px;
}

.txtinforrg i {
    padding-right: 10px;
}