<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coudé</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Catalog.css">
    <link rel="stylesheet" href="../header/header.css">
    <link rel="stylesheet" href="../footer/footer.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="../header/header-res.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        var app = angular.module("angularApp", [])
        app.controller("CoursesController", function($scope, $http) {
            $http({
                method: "GET",
                url: "/assets/data/courses/courses.json"
            }).then(function mySucces(respone) {
                $scope.courses = respone.data;
            }, function myError(respone) {
                $scope.dataError = respone.statusText
            })
        })
    </script>
</head>
<header w3-include-html='../header/header.html'></header>

<body ng-app="angularApp" ng-controller="CoursesController">
    <div id="container" class="flex__item--row">
        <div class="topnav" id="myTopnav">
            <a class="text-bold" href="javascript:void(0)">Language</a>
            <a href="/app/course/detail/coursedetail.html">HTML&CSS</a>
            <a href="">Python</a>
            <a href="">JavaScript</a>
            <a href="">Java</a>
            <a href="">SQL</a>
            <a href="">C++</a>
            <a href="">C#</a>
            <a href="">R</a>
            <a href="">Kotlin</a>
            <a class="text-bold" href="javascript:void(0)">Subjects</a>
            <a href="">Web Design</a>
            <a href="">Data Science</a>
            <a href="">Computer Science</a>
            <a href="">For Business</a>
            <a href="">Mobile Development</a>
            <a class="text-bold" href="javascript:void(0)">Where do I begin?</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fas fa-caret-square-down"></i>
            </a>
        </div>
        <div id="content" class="flex__item">
            <!-- banner1 -->
            <div class="row">
                <div class="banner1">
                    <p class="txtbanner1">Not sure where to begin?<a class="linkbanner">Take our quiz?</a></p>
                </div>
            </div>
            <!-- header 1-->
            <div class="row">
                <h3 class="header">Most Popular</h3>
            </div>
            <!-- courses popular-->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4" ng-repeat="co in courses | filter : (co.time ='popular') | limitTo: 9">
                    <a class="linkenroll" href="/app/course/enroll/Enroll.html?enrollName={{co.title}}" target="blank">
                        <div class="txtcourse">
                            <div class="tag">
                                <p class="txttag">{{co.tag}}</p>
                            </div>
                            <div class="information">
                                <p class="box--course_header">{{co.title}}</p>
                                <ul>
                                    <li>{{co.description[0].txtlevel}}</li>
                                    <li>{{co.description[0].number_lesson}}</li>
                                </ul>
                            </div>
                            <p class="coude">{{co.logo}}</p>
                        </div>
                    </a>
                </div>

            </div>
            <!-- header 2-->
            <div class="row">
                <h3 class="header">New</h3>
            </div>

            <!-- courses new -->
            <div class="row">

                <div class="col-12 col-sm-6 col-md-4" ng-repeat="c in courses | filter : (c.time ='new') | limitTo : 9">
                    <a class="linkenroll" href="/app/course/enroll/Enroll.html?enrollName={{c.title}}" target="blank">
                        <div class="txtcourse">
                            <div class="tag">
                                <p class="txttag">{{c.tag}}</p>
                            </div>
                            <div class="information">
                                <p class="box--course_header">{{c.title}}</p>
                                <ul>
                                    <li>{{c.description[0].txtlevel}}</li>
                                    <li>{{c.description[0].number_lesson}}</li>
                                </ul>
                            </div>
                            <p class="coude">{{c.logo}}</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- header 3 -->
            <div class="row">
                <h3 class="header">Blog</h3>
            </div>
            <!-- blog line 1 -->
            <div class="row">
                <div class="col-lg-4 text-center" ng-repeat="bl in courses| filter : (bl.resource[0].type ='blog') | limitTo: 1">
                    <img src="/assets/images/catalog/blog1.PNG" class="blog_img--up">
                    <p>{{bl.resource[0].res_name}}</p>
                </div>
                <div class="col-lg-4 text-center" ng-repeat="bl in courses| filter : (bl.resource[0].type ='Doc') | limitTo: 1">
                    <img src="/assets/images/catalog/blog2.PNG" class="blog_img--up">
                    <p>{{bl.resource[0].res_name}}</p>
                </div>
                <div class="col-lg-4 text-center" ng-repeat="bl in courses| filter : (bl.resource[0].type ='project') | limitTo: 1">
                    <img src="/assets/images/catalog/blog3.PNG" class="blog_img--up">
                    <p>{{bl.resource[0].res_name}}</p>
                </div>

            </div>
            <!-- blogline 2 -->
            <div class="row" ng-repeat="bl2 in courses |filter : (bl.resource[0].type ='video') |limitTo: 1">
                <div class="col-lg-6">
                    <img class="blog_img" src="/assets/images/catalog/blog4.PNG">
                </div>
                <div class="col-lg-6">
                    <p class="txtblog">{{bl2.resource[0].res_name}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <script>
        w3.includeHTML();
    </script>
</body>
<footer w3-include-html='../footer/footer.html'></footer>

</html>