@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(/assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: MontserratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
}

.header {
    height: 70px;
}

.logo {
    width: 200px;
    height: 100px;
    margin: auto;
}

.main-body {
    width: 500px;
    background-color: #9999992b;
    margin: auto;
    border-radius: 15px;
    height: auto;
    padding: 15px;
}

.main-body img {
    width: 100%;
}

.content-top {
    font-size: 18px;
    color: black;
    margin: 20px 10px;
    font-family: RobotoRegular;
}

.content-bottom {
    font-size: 15px;
    color: black;
    margin: 20px 10px;
    font-family: RobotoRegular;
}

.signup-button {
    width: 50px;
    margin: auto;
}

.line {
    width: 420px;
    background-color: grey;
    border: 0.5px solid grey;
    margin: auto;
}

label {
    margin-top: 10px;
    font-family: RobotoRegular;
}