@font-face {
    font-family: MontserratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}


/* .wrapper {
    margin: 0px;
    padding: 0px;
    width: 100vw;
     height: 100%; 
}*/

.sidebar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    /* height: 100vh; */
    height: calc(100vh - 160px);
}

.sidebar a {
    display: block;
    font-family: RobotoRegular;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.main-content {
    margin-right: 15px;
}

.total {
    margin: auto;
    padding: 20px 10px;
    border: 1px solid grey;
    font-family: RobotoRegular;
}

.button-confirm {
    width: auto;
    padding: 15px 30px;
    margin: auto;
}

h6 {
    font-family: RobotoLight;
}

h3 {
    font-family: MontserratExtraBold;
}

#div-mid {
    margin-left: 0px;
}

.content-left-top {
    border: 1px solid grey;
    padding: 5px;
}

.btn-next {
    margin-top: 10px;
}

#btnnext {
    padding: 10px 15px;
    font-family: MontserratExtraBold;
}