@font-face {
    font-family: MontserratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}


/* .wrapper{
    margin: 0px;
    padding: 0px;
    width: 100vw;
} */

.sidebar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    height: calc(100vh - 70px);
}

.sidebar a {
    display: block;
    font-family: RobotoRegular;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.payment-method {
    border: 1px solid gray;
    margin: 10px -10px;
}

#label-info {
    width: 200px;
    margin: 10px;
    font-family: RobotoRegular;
}

.total {
    margin: auto;
    padding: 20px 10px;
    border: 1px solid grey;
    font-family: RobotoRegular;
}

.button-confirm {
    width: auto;
    padding: 15px 30px;
    margin: auto;
}

.button-confirm {
    font-family: MontserratExtraBold;
}

h6 {
    font-family: RobotoLight;
}

h3 {
    font-family: MontserratExtraBold;
}

#div-sidebar {
    padding: 0px;
    margin: 0px;
}

#div-mid {
    padding: 0px;
    margin: 0px;
}

#div-right {
    padding: 0px;
    margin: 0px;
}