@font-face {
    font-family: MontserratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

#myTopnav {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    height: calc(100vh - 160px);
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    display: block;
    text-align: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: RobotoRegular;
}

.topnav .icon {
    display: none;
}

.main-content {
    margin-right: 15px;
}

.total {
    margin: auto;
    padding: 20px 10px;
    border: 1px solid grey;
    font-family: RobotoRegular;
}

.button-confirm {
    width: auto;
    padding: 15px 30px;
    margin: auto;
}

h6 {
    font-family: RobotoLight;
}

h3 {
    font-family: MontserratExtraBold;
}

#div-mid {
    margin-left: 0px;
}

.content-left-top {
    border: 1px solid grey;
    padding: 5px;
}

.btn-next {
    margin-top: 10px;
}

#btnnext {
    padding: 15px 20px;
    font-family: MontserratExtraBold;
}


/* CSS sidebar */

#myTopnav {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    height: calc(100vh - 160px);
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    display: block;
    text-align: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: RobotoRegular;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a {
        float: right;
        display: block;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    #myTopnav {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}