.footer__container {
    background: linear-gradient(0deg, rgba(213, 209, 209, 0.3), rgba(213, 209, 209, 0.3)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.8);
    opacity: 0.9;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    padding: 10px 40px;
    position: relative; 
    bottom: 0;
}

.footer__subcontainer {
    display: flex;
    justify-content: space-between;
}


/* các cột dưới chữ Coude */


/* .footer__subcontainer>div{
    flex: 1;
} */

.footer__item-contact {
    flex: 0.7;
    min-width: 250px;
}

.footer__item-other,
.footer__item-company {
    flex: 1;
    max-width: 40%;
    min-width: 300px;
}

.footer__container h2 {
    letter-spacing: 1.5px;
    margin-top: 10px;
}

.footer__container a {
    color: white;
    text-decoration: none;
}

.footer__container a:hover {
    text-decoration: underline;
    color: white;
}

.footer__container p {
    font-size: 14px;
}

.footer__container hr {
    border: 0.5px solid;
    background-color: white;
    width: 100%;
}

.footer__item--bottom {
    text-align: center;
}

.footer__item-title {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer__icon-container {
    display: flex;
}

.footer__icon-container button {
    margin-right: 5%;
    background: transparent;
    border: none;
}

.footer__icon-container button:hover img {
    opacity: 0.8;
}


/* hình payment */

#payment {
    width: 60%;
    max-width: auto;
    height: auto;
}


/* Medium devices (landscape tablets, 768px and up) */

@media screen and (max-width: 992px) {
    .footer__subcontainer {
        flex-wrap: wrap;
        /* flex: 1 !important; */
        justify-content: space-between;
    }
    .footer__subcontainer>div {
        margin-top: 25px;
    }
    .footer__icon-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .footer__subcontainer {
        flex-direction: column;
    }
    .footer__subcontainer>div {
        margin-top: 25px;
        max-width: 100%;
    }
    .footer__icon-container {
        flex-wrap: nowrap;
    }
}