@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

.header {
    height: 70px;
}

.sidebar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    height: 100%;
}

.sidebar a {
    display: block;
    font-family: RobotoRegular;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.form-group__required {
    color: red;
}

.ava-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(17, 117, 47);
    margin: 0 auto;
}

.form-group label {
    font-family: RobotoRegular;
}
#div-sidebar{
    margin: 0px;
    padding: 0px;
}
#div-main{
    margin-right: 0px;
    /* margin-left: 5px; */
    padding: 0px;
}
#nd-row{
    padding: 0px;
}