html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

* {
    box-sizing: border-box;
}

.header {
    height: 200px;
}

img {
    display: block;
    margin: 0 auto;
}

label.form-group__label {
    display: block;
    margin-bottom: 25px;
    font-size: large;
}

.form-group__required {
    color: red;
}

.form-group input {
    padding: 15px 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgb(207, 207, 207);
    outline: none;
    border: none;
}

div.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(17, 117, 47);
    ;
    margin: 0 auto;
    transform: translateY(-100%);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


/* .info button {
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: rgb(17, 117, 47);
    margin-bottom: -80px;
    color: white;
    font-size: 20px;
} */

#btsignup {
    padding: 15px 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: rgb(17, 117, 47);
    margin-bottom: -80px;
    color: white;
    font-size: 20px;
}

.payment__img {
    display: flex;
    width: 100px;
    height: 50px;
}

p {
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 440px;
    height: 45px;
    font-size: smaller;
    background-color: lightgrey;
}

.sidebar {
    height: 400px;
    background-color: cadetblue;
}

.content {
    height: 500px;
    display: flex;
    margin-left: 50px;
    background-color: white;
    /* margin: 0-15px; */
}

.sidebar a {
    Display: block;
    font-size: large;
    margin: 10px;
}


/* .main#payment {
    background-color: cadetblue;
} */

.main-right {
    width: 300px;
    height: 170px;
    border: 2px solid black;
    margin: 20px;
    text-align: center;
    position: relative;
}

.main {
    background-color: white;
}

.main-right::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    top: 50%;
    left: 0;
}

.main-right-group {
    display: flex;
    align-items: center;
}

#img__card {
    width: 200px;
    margin: 10px 0;
}

#img__paypal {
    width: 150px;
    height: 70px;
    margin: 20px 25px;
}

#btpayment_next {
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: rgb(17, 117, 47);
    color: white;
    font-size: 20px;
    margin-top: 20px
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.main-right-group input {
    width: 50px;
    height: 15px;
}