@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(/assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: MontserratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

a {
    font-family: RobotoRegular;
    color: white;
    text-decoration: none;
    margin: 10px;
}

input[type=button]:hover {
    color: black;
}

h1 {
    font-family: MontserratExtraBold;
    color: #199B80;
}

i {
    margin-bottom: 10px;
    color: #FF0F0F;
    justify-content: right;
}

.instructor-text {
    font-family: RobotoLight;
    margin-top: 0px;
}

legend {
    font-family: RobotoMedium;
    font-size: 22px;
}

input[type=button] {
    background: #2EA44F;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: RobotoMedium;
    font-size: 15px;
    padding: 10px;
}

#menu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    width: 20%;
}

#content {
    width: 80%;
    padding: 0px 100px;
}

#class {
    width: 70%;
    margin-right: 30px;
}

#class-label {
    font-family: RobotoMedium;
    margin-right: 20px;
}

#class div {
    background-color: #C4C4C4;
    margin: 30px;
    padding: 0px 15px;
    font-family: RobotoLight;
}

.container {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.flex__item--col {
    display: flex;
    flex-direction: column;
}

.flex__item--row {
    display: flex;
    flex-direction: row;
}