@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(/assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: MontserratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(/assets/fonts/roboto/Roboto-Black.ttf);
}

.flex__item--col {
    display: flex;
    flex-direction: column;
}

.flex__item--row {
    display: flex;
    flex-direction: row;
}

fieldset {
    margin-top: 50px;
}

#myTopnav {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    width: 20%;
}

#title {
    color: white;
    font-family: 'RobotoBlack';
    font-size: 17px;
}

.text-bold {
    color: white !important;
    font-family: 'RobotoBlack' !important;
    font-size: 17px !important;
}

#content {
    width: 80%;
    padding: 0px 100px;
}

#class {
    width: 70%;
    margin-right: 30px;
}

#class div {
    background-color: #C4C4C4;
    margin: 30px;
    padding: 0px 15px;
    font-family: RobotoLight;
}

.topnav {
    overflow: hidden;
    position: relative;
}

.topnav a {
    display: block;
    text-align: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: RobotoRegular;
    margin-left: 20px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a {
        float: left;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    #container {
        display: flex;
        flex-direction: column;
    }
    #myTopnav {
        width: 100%;
    }
    #container--class {
        display: flex;
        flex-direction: column;
    }
    #class {
        width: 100%;
    }
    #content {
        width: 100%;
    }
    .container--doc {
        max-width: 200px;
    }
    .container {
        max-width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .container {
        max-width: 300px;
        max-height: 230px;
        display: flex;
        overflow-x: auto;
    }
}

@media screen and (max-width: 992px) {
    #container--class {
        display: flex;
        flex-direction: column;
    }
    #class {
        width: 100%;
    }
    #button {
        width: 40%;
    }
    #content {
        width: 100%;
    }
}

ul {
    margin-left: 18px;
    font-family: 'Roboto-Light';
}

.inforbox {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}

.text-bold {
    color: white !important;
    font-family: 'RobotoBlack' !important;
    font-size: 17px !important;
}

.txtcourse {
    font-weight: bold;
    font-size: 25px;
}

.detailbox {
    margin-bottom: 50px;
}

.container {
    max-width: 800px;
    max-height: 230px;
    display: flex;
    overflow-x: auto;
}

.box--course {
    min-width: 300px;
    max-height: 280px;
    border: 2px solid black;
    margin: 10px;
}

.tag {
    background-color: black;
    width: 40px;
    height: 25px;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: 'Roboto-Light';
}

.coude {
    text-align: right;
}

.box--course_header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.docbox {
    width: 800px;
    height: 250px;
    margin-bottom: 50px;
}

.container--doc {
    margin-top: 10px;
    max-width: 800px;
    max-height: 200px;
    overflow-y: scroll;
}

.box--resource {
    margin-bottom: 10px;
    display: flex;
    min-width: 200px;
    height: 30px;
    background-color: darkgray;
    text-align: center;
}

.txttype {
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
}

.txtdoc {
    margin: 5px;
}