@media only screen and (min-width:1224px) {
    html,
    body {
        margin: 10;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
    * {
        box-sizing: border-box;
    }
    .header {
        height: 70px;
    }
    .main {
        display: flex;
    }
    .sidebar {
        height: 500px;
        background-color: cadetblue;
        width: 250px;
    }
    .sidebar a {
        Display: block;
        font-size: 14px;
        margin: 20px 30px;
    }
    a:hover {
        color: white;
    }
    .course_1 {
        border: 4px solid black;
        padding: 50px 20px;
        position: relative;
        margin-left: 100px;
        width: 1000px;
        margin-top: 50px;
    }
    .content_heading {
        position: absolute;
        top: 0;
        transform: translateY(-30px);
        background-color: white;
        padding: 0 10px;
    }
    .content_heading-main {
        font-size: 25px;
        font-weight: bold;
    }
    .content_main {
        display: flex;
    }
    .lesson {
        display: flex;
        background-color: rgb(207, 207, 207);
        width: 500px;
    }
    label {
        margin: 5px 10px;
    }
    button {
        width: 150px;
        padding: 10px;
        outline: none;
        border-radius: 5px;
        border: none;
        background-color: rgb(17, 117, 47);
        color: white;
        margin-left: 300px;
    }
    .course_2 {
        border: 4px solid black;
        padding: 50px 20px;
        position: relative;
        margin-left: 100px;
        width: 1000px;
        margin-top: 50px;
    }
}