@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(/assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: MontserratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
}

.header {
    height: 70px;
}

.content {
    display: flex;
}

.sidebar {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(55, 73, 168, 0.2), rgba(55, 73, 168, 0.2)), rgba(0, 0, 0, 0.76);
    padding: 20px;
    width: 20%;
}

.sidebar a {
    display: block;
    font-family: RobotoRegular;
    color: white;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    color: white;
}

.choose__code {
    width: 80%;
}

.choose-main {
    width: 500px;
    margin: auto;
}

p {
    margin-top: 5px;
    font-family: RobotoRegular;
}

.btchange_next button {
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #2EA44F;
    margin-top: 20px;
    margin-bottom: 80px;
    color: white;
    font-size: 20px;
    font-family: RobotoRegular;
}

.btchange_next {
    width: 100px;
    margin: auto;
}

button:hover {
    color: black;
}

legend {
    font-family: RobotoRegular;
    font-size: 25px;
    font-weight: bold;
}

label {
    font-family: RobotoRegular;
    font-size: 20px;
}

fieldset {
    height: 200px;
}

.choose-element {
    margin: 20px 100px;
}