@font-face {
    font-family: RobotoRegular;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(/assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(/assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: MontserratExtraBold;
    src: url(/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
}

.enter_otp--btn {
    display: flex;
    margin-top: 20px;
}

#btchange_confirm {
    width: 200px;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #2EA44F;
    margin-bottom: 80px;
    color: white;
    font-size: 20px;
    font-family: RobotoRegular;
}

#btchange_resend {
    width: 200px;
    padding: 15px 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: grey;
    margin-bottom: 80px;
    color: white;
    font-size: 20px;
    font-family: RobotoRegular;
}

input {
    padding: 15px 10px;
    border-radius: 5px;
    width: 520px;
    margin-bottom: 10px;
    background-color: rgb(207, 207, 207);
    outline: none;
    border: none;
}

p {
    /* margin-left: 10px; */
    font-family: RobotoLight;
    color: grey;
    font-size: 18px;
}

button:hover {
    color: black;
}

legend {
    font-family: RobotoRegular;
    font-size: 25px;
    font-weight: bold;
}

.body-main {
    margin: auto;
    width: 500px;
}

.btchange_resend {
    width: 50%;
    margin: auto;
}

.btchange_confirm {
    margin: auto;
}